body, .highlight-python.notranslate {
    color: rgb(192, 186, 178);
    background-color: rgb(24, 26, 27);
    border-color: rgb(115, 107, 94) !important;
}
::-webkit-scrollbar {
    background-color: rgb(32, 35, 36) !important;
    color: rgb(171, 164, 153) !important;
}
::-webkit-scrollbar-corner {
    background-color: rgb(24, 26, 27) !important;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(69, 74, 77) !important;
}
html, input, textarea, select, button {
    background-color: rgb(24, 26, 27) !important;
}

/* hover */
.reference.internal:hover, .toctree-l1:hover, .toctree-l2:hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

/* table */
.rst-content table.docutils thead, .rst-content table.field-list thead, .wy-table thead {
    color: rgb(232, 230, 227);
}
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td, .wy-table-backed, .wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td {
    background-color: rgb(27, 36, 36);
}

/* code block */
.highlight {
    color: rgb(220, 220, 220);
    background-color: rgb(30, 30, 30);
}
.highlight .nn,.highlight .nf {
    color: rgb(220, 220, 220) !important;
}
.highlight .kn, .highlight .k, .highlight .kc {
    color: rgb(86, 156, 214) !important;
}
.highlight .sa {
    color: rgb(86, 156, 214) !important;
    font-style: italic !important;
}
.highlight .c1, .highlight .sd {
    color: rgb(106, 135, 89) !important;
    font-style: italic !important;
}
.highlight .s2, .highlight .s1 {
    color: rgb(214, 157, 133) !important;
}
.highlight .nb, .highlight .ne {
    color: rgb(220, 220, 170) !important;
}
.highlight .ow, .highlight .si, .highlight .vm {
    color: rgb(197, 134, 192) !important;
}

/* link reference */
.xref.py.py-class.docutils.literal.notranslate, .xref.py.py-func.docutils.literal.notranslate {
    color: rgb(178, 172, 162) !important;
    background-color: transparent !important;
    border: 0px;
    text-decoration: underline;
    font-style: italic;
}

/* button */
.btn.btn-neutral {
    color: rgb(178, 172, 162) !important;
    background-color: rgb(32, 35, 36) !important;
    border: 0px;
}

/* class header */
.py.class > .sig.sig-object.py {
    border-top: 3px solid rgb(28, 89, 128) !important;
}

/* method header */
.sig.sig-object.py {
    background-color: rgb(32, 35, 36) !important;
    color: rgb(178, 172, 162) !important;
    border-left-color: rgb(62, 68, 70) !important;
}

/* note */
.admonition.note > .admonition-title {
    background-color: rgb(29, 91, 131) !important;
}
.admonition.note {
    background-color: rgb(32, 35, 36) !important;
}

/* tip */
.admonition.tip > .admonition-title {
    background-color: rgb(14, 123, 14) !important;
}
.admonition.tip {
    background-color: rgb(32, 35, 36) !important;
}

/* important */
.admonition.important > .admonition-title {
    background-color: rgb(123, 110, 0) !important;
}
.admonition.important {
    background-color: rgb(32, 35, 36) !important;
}

/* warning */
.admonition.warning > .admonition-title {
    background-color: rgb(123, 65, 14) !important;
}
.admonition.warning {
    background-color: rgb(82, 53, 0) !important;
}

/* attention */
.admonition.attention > .admonition-title {
    background-color: rgb(123, 14, 14) !important;
}
.admonition.attention {
    background-color: rgb(80, 0, 0) !important;
}

/* background & right sidebar */
.wy-nav-content {
    background-color: rgb(21, 22, 23);
}
.wy-nav-content-wrap {
    background-color: rgb(21, 22, 23);
}

/* left sidebar */
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a, .wy-menu-vertical li.toctree-l5 a, .wy-menu-vertical li.toctree-l6 a, .wy-menu-vertical li.toctree-l7 a, .wy-menu-vertical li.toctree-l8 a, .wy-menu-vertical li.toctree-l9 a, .wy-menu-vertical li.toctree-l10 a {
    color: rgb(192, 186, 178);
}
.wy-menu-vertical li.current a {
    background-image: initial;
    color: rgb(152, 143, 129);
    border-right-color: rgb(63, 69, 71);
    background-color: rgb(40, 43, 45);
}
.wy-menu-vertical .reference.internal.current {
    background-image: initial;
    background-color: rgb(54, 59, 61);
}
.toctree-expand {
    color: rgb(200, 195, 188) !important;
}
.current .reference.internal {
    color: rgb(200, 195, 188) !important;
    font-style: normal !important;
}
.reference.internal.current {
    color: rgb(200, 195, 188) !important;
    font-style: bold !important;
}

/* image */
img {
   -webkit-filter: invert(1);
   filter: invert(1);
   max-width: 1400px !important;
}
